.description {
  background: #ffffff;
  border-left: 5px solid #0073e6;
  padding: 15px;
  font-style: italic;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

body {
  font-family: 'Arial', sans-serif;
  color: #333 !important;
  background: #f5f5f5; 
}

a:hover {
  color: #0073e6;
  transition: 0.3s;
}
