---
---

@import "{{ site.theme }}";

/* Everything above this is the bare minimum */

/* Everything below this is my own customizations */

a {
 color:#6a0dad;
}

a:hover,
a:focus {
 color:#6a0dad;
}
a small {
 color:#6a0dad;
}
a:hover small {
 color:#6a0dad
}

/* body means everything, the default for the page */
body {
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 font-size: 105%;
}

/* these are the headers */
h1, h2, h3, h4, h5, h6 {
 letter-spacing: -0.08em;
}


header h1 a {
 font-size: 1.2em;
 color: #34ebd8;
}

header h1 a:hover {
 font-size: 1.2em;
 color: "red";
}
