<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-2">
            <img src="{{ site.baseurl }}/img/{{ page.author_avatar }}.jpg" class="user-icon " alt="user-image">
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="category-list">
                <p>Published <span>{{ page.date | date: "%b %-d, %Y" }}</span></p>
                <p><a href="{{ page.author_url  | prepend: site.baseurl }}">{{ page.author_name | capitalize }}</a> in <a href='{{ "/category/" | append: page.categories.first | prepend: site.baseurl }}'>{{ page.categories.first | capitalize }}</a></p>

                <div class="other-catergories">
                    <h3>Also found in</h3>

                    <ul>
                        {% for category in page.categories %}
                        <li>
                            <a href='{{ "/category/" | append: page.categories.first | prepend: site.baseurl }}'>{{ category | capitalize }}</a>
                            {% if forloop.last %}{% else %},{% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div><!-- end col -->
    </div><!-- end row -->
</div>
