<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="Content-Security-Policy"
          content="default-src 'self' 'unsafe-inline' 'unsafe-eval' c.disquscdn.com disqus.com;
          font-src 'self' data: fonts.gstatic.com;
          frame-src www.youtube.com  disqus.com cse.google.com;
          script-src-elem  'self' 'unsafe-inline' www.google-analytics.com www.googletagmanager.com cloud-native-topics.disqus.com c.disquscdn.com cse.google.com www.google.com clients1.google.com;
          style-src-elem  'self'  'unsafe-inline' data: fonts.googleapis.com c.disquscdn.com www.google.com;
          img-src data:  'self' www.google-analytics.com cdn.viglink.com referrer.disqus.com c.disquscdn.com www.google.com www.googleapis.com clients1.google.com ssl.gstatic.com;
          connect-src  'self' links.services.disqus.com c.disquscdn.com  www.google-analytics.com;">

    <title>{{ site.title }} | {% if page.title %}{{ page.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/search.css" | prepend: site.baseurl }}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
<!--    <script async src="https://cse.google.com/cse.js?cx=007699357961925698255:cj3ci6x7xuz"></script>-->

    <!--[if lt IE 9]>
        <script src="{{ "/js/vendor/html5shiv.min.js" | prepend: site.baseurl }}"></script>
    <![endif]-->

    <script async src="https://cse.google.com/cse.js?cx=007699357961925698255:cj3ci6x7xuz"></script>

    <!-- facebook Open Graph Metadatas -->
    <meta content="609039549219229" property="fb:app_id">
    <meta content="{{ site.title }}" property="og:site_name">
    {% if page.title %}
    <meta content="{{ page.title }}" property="og:title">
    {% else %}
    <meta content="{{ site.title }}" property="og:title">
    {% endif %}
    {% if page.title %}
    <meta content="article" property="og:type">
    {% else %}
    <meta content="website" property="og:type">
    {% endif %}
    {% if page.description %}
    <meta content="{{ page.description }}" property="og:description">
    {% else %}
    <meta content="{{ site.description }}" property="og:description">
    {% endif %}
    {% if page.url %}
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {% endif %}
    {% if page.date %}
    <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
    <meta content="{{ site.url }}/about/" property="article:author">
    {% endif %}
    {% if page.header-img %}
    <meta content="{{ site.url }}/{{ page.header-img }}" property="og:image">
    {% endif %}
    {% if page.categories %}
    {% for category in page.categories limit:1 %}
    <meta content="{{ category }}" property="article:section">
    {% endfor %}
    {% endif %}
    {% if page.tags %}
    {% for tag in page.tags %}
    <meta content="{{ tag }}" property="article:tag">
    {% endfor %}
    {% endif %}

    <!-- Twitter cards metadatas -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@runner_steve">
    <meta name="twitter:creator" content="@runner_steve">
    {% if page.title %}
    <meta name="twitter:title" content="{{ page.title }}">
    {% else %}
    <meta name="twitter:title" content="{{ site.title }}">
    {% endif %}
    {% if page.url %}
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
    {% endif %}
    {% if page.description %}
    <meta name="twitter:description" content="{{ page.description }}">
    {% else %}
    <meta name="twitter:description" content="{{ site.description }}">
    {% endif %}
    {% if page.header-img %}
    <meta name="twitter:image:src" content="{{ site.url }}/{{ page.header-img }}">
    {% endif %}

    {% include google_analytics.html %}
    {% feed_meta %}
    {% seo %}
</head>
