---
---

@import "{{ site.theme }}";
body {
  background-color: #F4F3F2;
  padding:50px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#727272;
  font-weight:400;
}
