---
---

@import "{{ site.theme }}";

.frame-area {
  display: block;
  width: 100%;  /* RESPONSIVE WIDTH */
  max-width: 400px;
  height: 300px;
  overflow: auto;  /* EDIT TO hidden FOR NO SCROLLBAR */
  border: #999999 1px solid;
  margin: 0px;
  padding: 0px;
  }

.inner {
  max-width: 100%;
  margin: 0px;
}


.boxed {
  float: left !important;
   margin: 0px !important;
   padding: 0px !important;
   max-width: 100% !important;
   border: #999999 10px solid;
}

body {
  display: block;
  margin: 0px;
}

.page{
width: 100%;
float: right;
margin-right: 0;
padding-left: 0;
padding-right: 0;
}
