---
layout: with-sidebar
---

<div class="sub-nav">
    <a href="#" class="select-posts active">Posts</a>
    <a href="#" class="select-categories">Categories</a>
</div>

<div class="home-page-posts animated fadeIn ">
    {% for post in site.posts %}

    <article class="post">
        <div class="post-preview col-xs-10  no-gutter">
            <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>

            {{ post.excerpt | truncatewords: 28 }}

            <p class="meta">
                <a href="{{ post.author_url | prepend: site.baseurl }}">{{ post.author_name | capitalize}}</a> in <a href='{{ "/category/" | append: post.categories.first | prepend: site.baseurl }}'>{{ post.categories.first | capitalize }}</a> <i class="link-spacer"></i> <i class="fa fa-bookmark"></i> {{ post.read_time }} minutes
            </p>
        </div>


        {% if post.show_avatar == true %}
        <div class=" col-xs-2  no-gutter">
            <img src="{{ site.baseurl}}/img/{{ post.author_avatar }}.jpg" class="user-icon user-1" alt="user-image">
        </div>
        {% endif %}
    </article>
    {% endfor %}

</div><!-- Home page posts -->

<div class="home-page-categories hide animated fadeIn ">
    <div class="category row">
        <section>
            {% for category in site.categories %}

                <div class="category-preview col-xs-6 col-sm-4 ">
                    <h2>{{ category | first | capitalize }}</h2>
                    <a href='{{ "/category/" | append: category.first | prepend: site.baseurl }}'><img src='{{ "/img/" | append: category.first | prepend: site.baseurl }}-thumbnail.jpg' alt="category-image"></a>
                </div>
            {% endfor %}
        </section>
    </div>
</div>
